 {% extends 'index.html' %}
 {% block content %}
 <section class="about_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about_img-container">
            <img src="images/about.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about_detail-box">
            <h3>
              About our School
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
            <div class="">
              <a href="" class="call_to-btn btn_white-border">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}