{% extends 'adminhome.html' %}
{% block content %}
<section class="contact_section ">

    <div class="container">
     
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-center d-md-block">
            <h2>
              ADD BRAND
            </h2>
          </div>
          <form action="" method="POST">
            {% csrf_token %}
            <div class="contact_form-container">
              <div>
                <div>
                  <input type="text"  id="catname" name="catname" placeholder="brand name">
                </div>
               
                <div class="mt-5">
                  <input type="submit" value="send">
                  
                  
                </div>
              </div>

            </div>
            


          </form>
        </div>
        <script>
          var msg="{{msg}}"
          if(msg !="")
          alert(msg)
        </script>
        <table >                
          <thead>
            <tr> 
              <th scope="col">brand id</th>
              <th scope="col">brand name</th>
             
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for f in brand %}
              <td>{{f.0}}</td>
              <td>{{f.1}}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>

        <div class="col-md-6">
          <div class="contact_img-box">
            <img src="images/students.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}