{% extends 'adminhome.html' %}
{% block content %}
<section class="contact_section ">

    <div class="container">
     
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-center d-md-block">
            <h2>
              ADD SUBCATEGORY
            </h2>
          </div>
          <form action="">
            <div class="contact_form-container">
              <div>
                <div>
                    <label>Select Category</label>
                    <select id="catname" name="catname">
                        <option >--select--</option>
                  </div>
                <div>
                  <input type="text"  id="subcatname" name="subcatname" placeholder="subcategory name">
                </div>
               
                <div class="mt-5">
                  <button type="submit">
                    send
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6">
          <div class="contact_img-box">
            <img src="images/students.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}