{% extends 'userhome.html' %}
{% block content %}
<section class="contact_section ">

    <div class="container">
     
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-center d-md-block">
            <h2>
              Buy Product
            </h2>
          </div>
          <form action="">
            <div class="contact_form-container">
              <div>
                <div>
                   <input type="search" id="s1" name="s2" placeholder="search here">

                </div>
               
                <div class="mt-5">
                  <button type="submit">
                    Buy
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6">
          <div class="contact_img-box">
            <img src="images/students.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}