{% extends 'index.html' %}
{% block content %}
<section class="about_section">
   <div class="container">
     <div class="row">
       <div class="col-md-6">
         <div class="about_img-container">
           <img src="images/about.png" alt="">
         </div>
       </div>
       <div class="col-md-6">
         <div class="about_detail-box">
           <h3>
             LOG IN
           </h3>
           <div>
            <form action="">
                <div class="contact_form-container">
                  <div>
                    <div>
                      <input type="text" placeholder="enter username">
                    </div>
                    <div>
                      <input type="email" placeholder="enter password">
                    </div>
                   
                    
                    <div class="mt-5">
                      <button type="submit">
                        Login
                      </button>
                    </div>
                  </div>
    
                </div>
    
              </form>
           <div>
           
         </div>
       </div>
     </div>
   </div>
 </section>
 {% endblock %}